<section class="section hero hero-small">
  <header class="hero-inner">
    <div class="hero-inner-search">
      <div class="header-desktop-search">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
          <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
          <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
        </svg>
        {{search submit=false instant=settings.instant_search class="search search-full" placeholder="Search knowledge base..."}}
      </div>
    </div>
  </header>
</section>
<div class="container container-spacing">
  <nav class="sub-nav">{{breadcrumbs}}</nav>

  <div class="form">
    <header class="form-header">
      <h1 class="form-header-heading">
        {{t 'submit_a_request'}}
        {{#if follow_up}}
        <span class="follow-up-hint">{{follow_up}}</span>
        {{/if}}
      </h1>
      <p class="form-header-description">
        Technical issues, questions, feedback, warranty claims, fill out the form to get in touch with a human.
      </p>
    </header>
    {{request_form}}
  </div>
</div>
